input[type='text'], input[type='password'], .metroinput, textarea {
    width: 280px;
    height: 32px;
    background-color: rgba(255,255,255, 0.8);
    outline: none;
    border: none;
    font-size: 16px;
    font-weight: 400;
    padding: 0px 8px;
}

input[type='text']:hover, input[type='password']:hover, .metroinput:hover {
    background-color: rgba(255,255,255, 0.9);
}

input[type='text']:focus, input[type='password']:focus, .metroinput:focus {
    background-color: white;
}

.metrodialog {
    width:100vw;
    background-color: rgb(31,0,104);
    position: fixed;
    left:0;top:50vh;
    transform: translateY(-50%);
    z-index: 99999;
}

@keyframes fadeani {
    0%  {opacity:0;}
    100%{opacity:1;}
}

@keyframes fadeani2 {
    0%  {opacity:1;}
    100%{opacity:0;}
}

@keyframes Metro_ShowAni1 {
    0%  {opacity:0; transform: translateX(100px)}
    100%{opacity:1; transform: translateX(0)}
}

@keyframes Metro_ShowAni2 {
    0%  {opacity:0; transform: translateX(20px)}
    100%{opacity:1; transform: translateX(0)}
}

.metrodialogbg {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top:0;left:0;
    z-index: 99998;
    background-color: rgba(0,0,0,0.4);
    animation: fadeani 0.2s cubic-bezier(0.1, 0.9, 0.2, 1) forwards
}

.metrodialog > .cont {
    width:640px;
    margin-left:50vw;
    transform: translateX(-50%);
}

.metrodialog > .cont > h1 {
    font-size: 28px;
    color:white;
    margin:0;
    font-weight: 300;
    padding-top: 18px;
    padding-bottom: -11px;
    padding-left:0;padding-right:0;
}

.metrodialog > .cont > p {
    font-size: 16px;
    color:white;
    margin:0;
    font-weight: 300;
    padding: 18px 0px;
}

.metrodialog > .cont > .buttons {
    margin-bottom:25px;
    margin-top:25px;
    float: right;
}

.backbtn {
    position: absolute;
    width: 30px;
    height: 30px;
    color: white;
    font-size: 27px;
    border-radius: 999px;
}

.backbtn:hover {
    background-color: rgba(255, 255, 255, 50%);
}

.backbtn:active {
    background-color: rgba(255, 255, 255, 0%);
}

.backbtn > span {
    position: absolute;
    top: -7px;
    left: -3px;
}

.backbtn:active > span.s1 {
    display: none;
}

.backbtn > span.s2 {
    display: none;
}

.backbtn:active > span.s2 {
    display: block;
}

.progress-ring {
    position: relative;
    padding-top: 8px;
    width: 40px;
    height: 40px;
    margin: auto;
}

.progress-ring .progress-ring__wrap {
    position: absolute;
    width: 38px;
    height: 38px;
}

.progress-ring .progress-ring__wrap .progress-ring__circle {
    transform: rotate(225deg);
    animation-iteration-count: infinite;
    animation-name: orbit;
    animation-duration: 4000ms;
    width: 38px;
    height: 38px;
    opacity: 0;
}

.progress-ring .progress-ring__wrap .progress-ring__circle:after {
    content: '';
    position: absolute;
    width: 6px;
    height:6px;
    border-radius: 6px;
    background: #ffffff;
}

.progress-ring .progress-ring__wrap:nth-child(2) {transform: rotate(-14deg);}
.progress-ring .progress-ring__wrap:nth-child(2) .progress-ring__circle {animation-delay: 133.33333333ms;}
.progress-ring .progress-ring__wrap:nth-child(3) {transform: rotate(-28deg);}
.progress-ring .progress-ring__wrap:nth-child(3) .progress-ring__circle {animation-delay: 266.66666667ms;}
.progress-ring .progress-ring__wrap:nth-child(4) {transform: rotate(-42deg);}
.progress-ring .progress-ring__wrap:nth-child(4) .progress-ring__circle {animation-delay: 400ms;}
.progress-ring .progress-ring__wrap:nth-child(5) {transform: rotate(-56deg);}
.progress-ring .progress-ring__wrap:nth-child(5) .progress-ring__circle {animation-delay: 533.33333333ms;}

@keyframes orbit {
    0% {
        transform: rotate(225deg);
        opacity: 1;
        animation-timing-function: ease-out;
    }
    7% {
        transform: rotate(345deg);
        animation-timing-function: linear;
    }
    35% {
        transform: rotate(495deg);
        animation-timing-function: ease-in-out;
    }
    42% {
        transform: rotate(690deg);
        animation-timing-function: linear;
    }
    70% {
        transform: rotate(835deg);
        opacity: 1;
        animation-timing-function: linear;
    }
    76% {
        opacity: 1;
    }
    77% {
        transform: rotate(955deg);
        animation-timing-function: ease-in;
    }
    78% {
        transform: rotate(955deg);
        opacity: 0;
    }
    100% {
        transform: rotate(955deg);
        opacity: 0;
    } 
}

button {
    font-size: 16px;
    font-weight: 600;
    padding: 2px 16px 4px 16px;
    border: 2px solid white;
    color:white;
    margin-left:  10px;
    margin-right: 10px;
    cursor: default;
    background: none;
    min-width: 90px;
}

button:hover {
    background: rgba(255, 255, 255, 0.1);
    cursor: default;
}

button:active {
    background: white;
    color: black;
}

button.negative {
    border: 2px solid black;
    color: black;
}

button.negative:hover {
    background: rgba(0,0,0, 0.1);
}

button.negative:active {
    background: black;
    color: white;
}

button:focus {
    outline: none;
}

select {
    width: 280px;
    height: 32px;
    background-color: rgba(255,255,255, 0.8);
    outline: none;
    border: none;
    font-size: 16px;
    font-weight: 400;
    padding: 0px 8px;
    border-radius: 0;
}

::-webkit-scrollbar {
    width: 17px;
    background-color: rgb(228,228,228);
}

::-webkit-scrollbar-thumb:active {
    background-color: rgb(205, 205, 205);
}

::-webkit-scrollbar-thumb {
    background-color: rgb(205,205,205);
    border: 1px solid rgb(195,195,195);
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:active{
    background-color: rgb(65,65,65);
}

::-webkit-scrollbar-button:vertical:start:decrement {
    background: url(../img/metroui/scrollbar/light/v_t.png);
    height: 33px;
}

::-webkit-scrollbar-button:vertical:end:increment {
    background: url(../img/metroui/scrollbar/light/v_d.png);
    height: 33px;
}

::-webkit-scrollbar-button:vertical:start:decrement:active {
    background: url(../img/metroui/scrollbar/light/v_t_a.png);
}

::-webkit-scrollbar-button:vertical:end:increment:active {
    background: url(../img/metroui/scrollbar/light/v_d_a.png);
}

::-webkit-scrollbar-button:horizontal:start:decrement {
    background: url(../img/metroui/scrollbar/light/h_t.png);
    width: 33px;
}

::-webkit-scrollbar-button:horizontal:end:increment {
    background: url(../img/metroui/scrollbar/light/h_d.png);
    width: 33px;
}

::-webkit-scrollbar-button:horizontal:start:decrement:active {
    background: url(../img/metroui/scrollbar/light/h_t_a.png);
}

::-webkit-scrollbar-button:horizontal:end:increment:active {
    background: url(../img/metroui/scrollbar/light/h_d_a.png);
}

.Dark::-webkit-scrollbar, .Dark ::-webkit-scrollbar {
    background-color: rgb(27,27,27);
}

.Dark::-webkit-scrollbar-thumb:active, .Dark ::-webkit-scrollbar-thumb:active {
    background-color: rgb(50,50,50);
}

.Dark::-webkit-scrollbar-thumb, .Dark ::-webkit-scrollbar-thumb {
    background-color: rgb(50,50,50);
    border: 1px solid rgb(60,60,60);
}

.Dark::-webkit-scrollbar-thumb:active, .Dark ::-webkit-scrollbar-thumb:active {
    background-color: rgb(65,65,65);
}

.Dark::-webkit-scrollbar-button:vertical:start:decrement, .Dark ::-webkit-scrollbar-button:vertical:start:decrement {
    background: url(../img/metroui/scrollbar/dark/v_t.png);
    height: 33px;
}

.Dark::-webkit-scrollbar-button:vertical:end:increment, .Dark ::-webkit-scrollbar-button:vertical:end:increment {
    background: url(../img/metroui/scrollbar/dark/v_d.png);
    height: 33px;
}

.Dark::-webkit-scrollbar-button:vertical:start:decrement:active, .Dark ::-webkit-scrollbar-button:vertical:start:decrement:active {
    background: url(../img/metroui/scrollbar/dark/v_t_a.png);
}

.Dark::-webkit-scrollbar-button:vertical:end:increment:active, .Dark ::-webkit-scrollbar-button:vertical:end:increment:active {
    background: url(../img/metroui/scrollbar/dark/v_d_a.png);
}

.Dark::-webkit-scrollbar-button:horizontal:start:decrement, .Dark ::-webkit-scrollbar-button:horizontal:start:decrement {
    background: url(../img/metroui/scrollbar/dark/h_t.png);
    width: 33px;
}

.Dark::-webkit-scrollbar-button:horizontal:end:increment, .Dark ::-webkit-scrollbar-button:horizontal:end:increment {
    background: url(../img/metroui/scrollbar/dark/h_d.png);
    width: 33px;
}

.Dark::-webkit-scrollbar-button:horizontal:start:decrement:active, .Dark ::-webkit-scrollbar-button:horizontal:start:decrement:active {
    background: url(../img/metroui/scrollbar/dark/h_t_a.png);
}

.Dark::-webkit-scrollbar-button:horizontal:end:increment:active, .Dark ::-webkit-scrollbar-button:horizontal:end:increment:active {
    background: url(../img/metroui/scrollbar/dark/h_d_a.png);
}

input[type="checkbox"] {
    border-radius: 0;
    width: 20px;
    height: 20px;
    appearance: none;
    background-color: rgba(240,240,240, 0.8);
}

input[type="checkbox"]:hover {
    background-color: rgba(240,240,240, 0.9);
}

input[type="checkbox"]:active {
    background-color: rgb(240,240,240);
}

input[type="checkbox"]:checked {
    background-image: url(../img/metroui/checkbox.png);
}

input[type="checkbox"]:disabled {
    opacity: 0.5;
}