/* Fonts, cursor, and disable scale */
*{
    font-family: system-ui, 'sans-serif', 'Segoe ui';
    touch-action: manipulation;
    cursor: default;
}
html, body{
    height: 100%;
}
::selection {
    background-color: transparent;
}
.dash{
    border-bottom-left-radius: 5px;
    background: -webkit-linear-gradient(90deg, rgba(0,161,255,1) 0, rgba(255,255,255,0.2) 51%, rgba(102,168,255,1) 51%, rgba(201,233,255,0.8) 100%), #3b3be5;
    opacity: 0.9;
    font-weight: 900;
}
.x{
    border-bottom-right-radius: 5px;
    background: linear-gradient(0deg, rgba(255,0,0,1) 0, rgba(255,255,255,0.2) 51%, rgba(255,100,100,1) 51%, rgba(255,200,200,0.8) 100%), #e74c3c;
    opacity: 0.9;
    width: 47% !important;
}
.square{
    background: -webkit-linear-gradient(90deg, rgba(0,161,255,1) 0, rgba(255,255,255,0.2) 51%, rgba(102,168,255,1) 51%, rgba(201,233,255,0.8) 100%), #3b3be5;
    opacity: 0.9;
}
.window{
    border-radius: 10px;
    position: absolute;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 0;
}
.window *{
    font-size: 14px;
}
.topbar{
    display: flex;
    justify-content: space-between;
    height: 20px;
    margin: 2.5px;
    margin-top: 0px;
}
.topbar .buttons{
    width: 102px;
    display: flex;
}
.topbar .buttons *{
    border: 1px solid rgba(0,0,0,0.5);
    width: 30px;
    line-height: 15px;
    text-align: center;
}
.content{
    border: 1px solid rgba(255,255,255,0.5);
    border-radius: 3px;
    background-color: white;
    width: 296px;
    height: 276px;
    min-height: 276px;
    max-width: 296px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.topbar *{
    width: 30px;
    line-height: 15px;
    text-align: center;
}
.window:hover{
    cursor: default;
}
@keyframes close {
    25% {transform: perspective(400px) rotateX(20deg);}
    50% {transform: perspective(400px) rotateX(45deg);opacity: 0;}
    100% {opacity: 0;}
}
@keyframes open {
    0% {transform: perspective(400px) rotateX(20deg);opacity: 0;}
    100% {transform: perspective(400px) rotateX(0deg);opacity: 1;}
}
.closing{
    animation-name: close;
    animation-duration: 0.6s; /*= 0.3s*/
    pointer-events: none;
}
.opening{
    animation-name: open;
    animation-duration: 0.3s;
}
.footer{
    height: 40px;
    max-height: 40px;
    display: flex;
    justify-content: end;
    background-color: rgb(224, 224, 224);
}
.windowbtn{
    border-radius: 5px;
    width: 75px;
    height: 25px;
    margin: 8px;
    background: linear-gradient(0deg, rgba(200,200,200,1) 47%, rgba(255,255,255,1) 53%);
    border: 2px solid;
    color: black;
    border: 1px solid rgb(51, 51, 51);
}
.explorer{
    width: 100%;
    height: 100%;
}
.icons{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: calc(100% - 38px);
    align-content: flex-start;
}
.icon{
    display: flex;
    flex-direction: column;
    width: 75px;
    text-align: center;
    color: white;
    padding: 10px;
    height: 120px;
    border: 3px solid transparent;
    border-radius: 5px;
}
.icon:hover{
    background-color: rgba(0,255,255,0.5);
    border: 3px solid rgba(128,255,255,0.5);
    width: 75px;
}
bottomright{
    position: absolute; 
    bottom: 40px; 
    right: 0px; 
    text-align: right; 
    color: white;
}
.taskbar{
    height: 38px;
    border-top: 1px solid rgba(255,255,255,0.5);
    outline: 1px solid black;
    z-index: 9999;
    background-color: rgba(61, 57, 117, 0.3);
    display: flex;
    position: fixed;
    bottom: 0px;
    width: 100%;
    backdrop-filter: blur(5px);
}
.taskbar-btn{
    object-fit: cover;
    object-position: 0 -10px;
    position: fixed;
}
.taskbar-btn:hover{
    object-position: 0 -64px;
}
.taskbar-btn:active{
    object-position: 0 -118px;
}
.left-bar, .right-bar{
    height: 100%;
    display: flex;
}
.right-bar{
    margin-left: auto; 
    margin-right: 0;
}
.wrapper{
    width: 59px;
}
.window-tray{
    position: relative;
    bottom: 2px;
    width: 58px;
    height: 100%;
    border: 1px solid rgba(255,255,255,0.5);;
    border-radius: 3px;
    margin-right: 2px;
    background-color: rgba(255,255,255,0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}
.window-tray img{
    height: 30px;
    width: 30px;
}
.time{
    color: white;
    text-align: center;
    font-size: 12px;
    padding-top: 2px;
}
.show-desktop{
    position: relative;
    bottom: 1px;
    width: 11px;
    height: calc(100% - 2px);
    border: 1px solid rgba(255,255,255,0.5);
    outline: 1px solid rgba(0, 0, 126, 0.5);
    margin-left: 10px;
    margin-right: 1px;
}
.start-menu{
    position: absolute;
    left: 0;
    bottom: 40px;
    width: 505px;
    height: 475px;
    display: none;
    border-top-right-radius: 10px;
}
.left-start{
    background-color: white;
    border: 1px solid black;
    outline: 1px solid rgba(255,255,255,0.5);
    border-radius: 3px;
    width: 60%;
    padding: 3px;
}
.start-option{
    display: flex;
    align-items: center;
    font-size: 13px;
    border: 1px solid transparent;
    padding: 2px;
    border-radius: 3px;
}
.start-option:hover{
    background-color: rgba(0,255,255,0.3);
    border: 1px solid rgba(25, 0, 255, 0.5);
    background: linear-gradient(180deg, rgba(0,142,255,0.3) 0%, rgba(0,151,255,0.5) 100%);
}
.start-option img{
    width: 32px;
    height: 32px;
}
.time-2{
    width: 322px; 
    height: 280px;
    position: absolute;
    right: 0;
    bottom: 40px;
    border: 1px solid rgba(255,255,255,0.5);
    background-color: rgba(61, 57, 117, 0.3);
    border-radius: 10px;
    padding: 7px;
    margin: 8px;
}
.time-container{
    background-color: white;
    border: 1px solid rgba(255,255,255,0.5);
    width: 100%;
    height: 100%;
    border-radius: 3px;
}
.datetime{
    height: 50px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 102, 204);
}
.bottom-time{
    display: flex;
    justify-content: space-between;
    margin: 0 12px;
}
.calendar{
    width: 50%;
}
.winapi_transparent{
    padding: 5px;
    background-color: rgba(61, 57, 117, 0.3);
    border: 1px solid rgba(255,255,255,0.5);
    backdrop-filter: blur(5px);
}
.winapi_transparent_nomargin{
    background-color: rgba(61, 57, 117, 0.3);
    border: 1px solid rgba(255,255,255,0.5);
    backdrop-filter: blur(5px);
}
.winapi_shadow{
    box-shadow: 0px 0px 8px 5px rgba(0, 0, 0, 0.65);
}
left{
    display: flex;
    align-items: center;
    white-space: nowrap;
}
left img{
    width: 15px !important;
    height: 15px !important;
    margin: 3px;
    margin-left: 0;
}