html, body {
    margin:0;
    background-color: white;
}

.nav {
    width: 100%; height: 36px;
    position: fixed;
    top:0;left:0;
}

.nav > .backnext {
    width: 68px;
    height: 36px;
    position: relative;
}

.nav > .backnext > button {
    min-width: 20px;
    height: 20px;
    position: absolute;
    background-image: url(../../../img/explorer/nav_backnext.png);
    outline: none;
    border: none;
}

.nav > .backnext > .back {left:10px;top:8px;}
.nav > .backnext > .next {left:38px;top:8px;background-position-x: -20px;}
.nav > .backnext > button:hover    {background-position-y: -20px;}
.nav > .backnext > button:active   {background-position-y: -40px;}
.nav > .backnext > button:disabled {background-position-y: -60px;}

#searchbox {
    position: fixed;
    width: 194px;
    top: 7px; right: 12px;
    padding: 2.5px 4px;
    border-radius: 0;
    border: 1px solid rgb(217,217,217);
    font-size: 12px;
}

#searchbox:focus {
    outline: none;
}

.adressbar {
    width: calc(100vw - 346px);
    border: 1px solid rgb(217,217,217);
    position: absolute;
    left: 109px; top: 7px;
    font-size: 0;
}

.adressbar > div {
    font-size: 12px;
    display: inline-block;
    border: 1px transparent solid;
    padding: 1.5px 3px;
}

.adressbar > div:hover {
    border: 1px rgb(112,192,231) solid;
    background-color: rgba(112,192,231,0.2);
}

.controlContent {
    width: 100vw;
    height: calc(100vh - 36px);
    position: absolute;
    left: 0; top: 36px;
    display: none;
}

#ControlContentMainPage {
    display: block;
}

#ControlContentMainPage > .categories {
    max-width: 700px;
    width: 100vw;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    font-size: 0;
}

#ControlContentMainPage > .categories > h1 {
    color: rgb(0,51,153);
    font-size: 16px;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 30px;
}

#ControlContentMainPage > .categories > .row {
    width: 350px;
    display: inline-block;
    vertical-align: top;
}

#ControlContentMainPage > .categories > .row > div {
    width: 350px;
    border: 1px transparent solid;
    position: relative;
}

#ControlContentMainPage > .categories > .row > div:hover {
    border: 1px rgb(112,192,231) solid;
    background-color: rgba(112,192,231,0.2);
}

#ControlContentMainPage > .categories > .row > div > img {
    width: 48px;
    height: 48px;
    margin: 3px;
    position: absolute;
}

#ControlContentMainPage > .categories > .row > div > img:hover {
    cursor: pointer;
}

#ControlContentMainPage > .categories > .row > div > h2 {
    color: rgb(51,110,67);
    font-size: 16px;
    font-weight: 400;
    margin-left: 62px;
    margin-top: 0px;
    margin-bottom: 0px;
}

#ControlContentMainPage > .categories > .row > div > h2:hover {
    color: rgb(0,174,29);
    text-decoration: underline;
    cursor: pointer;
}

#ControlContentMainPage > .categories > .row > div > h3 {
    color: rgb(0,102,204);
    font-size: 12px;
    margin-left: 62px;
    margin-top: 0px;
    margin-bottom: 8px;
}

#ControlContentMainPage > .categories > .row > div > h3 > span:hover {
    color: rgb(51,153,255);
    text-decoration: underline;
    cursor: pointer;
}

.controlContent > .leftPage {
    width: 200px;
    height: calc(100vh - 36px);
    position: fixed;
    left:0;top:36px;
}

.controlContent > .leftPage p {
    margin: 8px 30px;
    position: relative;
    color: rgb(21,28,85);
}

.controlContent > .leftPage p:hover {
    color: rgb(51,153,255);
    text-decoration: underline;
    cursor: pointer;
}

.controlContent > .leftPage p > img {
    width: 16px;
    height: 16px;
    position: absolute;
    left: -20px;
    top: 2px;
}

.controlContent > .cont {
    width: calc(100vw - 248px);
    height: calc(100vh - 76px);
    position: fixed;
    left: 200px;
    top: 36px;
    padding: 20px 24px;
    overflow-y: auto;
}

.controlContent > .cont > h1 {
    color: rgb(0,51,153);
    font-size: 16px;
    font-weight: 400;
    margin: 0;
}

.controlContent > .cont > .line {
    width: 100%;
    height: 1px;
    background-color: rgb(204,204,204);
    position: relative;
    margin: 10px 0;
}

.controlContent > .cont > .line > p {
    background-color: white;
    width: fit-content;
    margin: 0;
    position: relative;
    top: -10px;
}

.controlContent > .cont > p {
    margin: 6px 0px;
}

.controlContent > .cont > table {
    font-size: 12px;
    width: calc(100% - 100px);
}

.controlContent > .cont > table > tbody > tr > td:nth-child(1) {
    width: 140px;
}

.controlContent > .cont > table > tbody > tr > td:nth-child(2) {
    width: fit-conten;
}

a {
    color: rgb(0,102,204);
}

a:hover {
    color: rgb(51,153,255);
    text-decoration: underline;
    cursor: pointer;
}

.controlContent > .cont > .CplList {
    width: calc(100%);
}

.controlContent > .cont > .CplList > div {
    width: 100%;
    border: 1px transparent solid;
    position: relative;
}

.controlContent > .cont > .CplList > div:hover {
    border: 1px rgb(112,192,231) solid;
    background-color: rgba(112,192,231,0.2);
}

.controlContent > .cont > .CplList > div > img {
    width: 32px;
    height: 32px;
    margin: 3px;
    position: absolute;
}

.controlContent > .cont > .CplList > div > img:hover {
    cursor: pointer;
}

.controlContent > .cont > .CplList > div > h2 {
    color: rgb(51,110,67);
    font-size: 16px;
    font-weight: 400;
    margin-left: 48px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.controlContent > .cont > .CplList > div > h2:hover {
    color: rgb(0,174,29);
    text-decoration: underline;
    cursor: pointer;
}

.controlContent > .cont > .CplList > div > h3 {
    color: rgb(0,102,204);
    font-size: 12px;
    margin-left: 48px;
    margin-top: 0px;
    margin-bottom: 8px;
}

.controlContent > .cont > .CplList > div > h3 > span:hover {
    color: rgb(51,153,255);
    text-decoration: underline;
    cursor: pointer;
}