/* Fonts, cursor, and disable scale */
*{
    font-family: system-ui, 'sans-serif', 'Segoe ui';
    touch-action: manipulation;
    cursor: default;
    color: black;
    font-size: 12px;
}
.topleft, .topright, .bottomleft, .bottomright, .top, .left, .right, .bottom{
    position: absolute;
}
.maximised .topleft, .maximised .topright, .maximised .bottomleft, .maximised .bottomright, .maximised .top, .maximised .left, .maximised .right, .maximised .bottom{
    display: none;
}
.topleft, .topright, .bottomleft, .bottomright{
    width: 7px;
    height: 7px;
    z-index: 1;
}
.top, .bottom{
    width: 100%;
    height: 7px;
    cursor: n-resize;
}
.left, .right{
    height: 100%;
    width: 7px;
    cursor: w-resize;
}
.left, .topleft, .bottomleft{
    left: 0;
}
.right, .topright, .bottomright{
    right: 0;
}
.topleft, .top, .topright{
    top: 0;
}
.bottomleft, .bottom, .bottomright{
    bottom: 0;
}
.topleft, .bottomright{
    cursor: nw-resize;
}
.topright, .bottomleft{
    cursor: ne-resize;
}
input[type="checkbox"]{
    display: none;
}
input[type="checkbox"] + label{
    background-image: url("./Resources/checkbox.png");
}
input[type="checkbox"]:checked + label{
    background-image: url("./Resources/checkbox_checked.png");
}
label{
    padding-left: 13px;
    height: 13px;
    display: inline-block;
    background-repeat: no-repeat;
}
html, body{
    height: 100%;
    width: 100%;
    margin: 0;
}
body{
    position: fixed;
}
::selection {
    background-color: transparent;
}
.dash{
    background-image: url("./Resources/minimise.png");
    width: 29px;
}
.x{
    background-image: url("./Resources/x.png");
    width: 49px;
}
.square{
    background-image: url("./Resources/maximise.png");
    width: 29px;
}
.dash:hover, .square:hover{
    z-index: 999;
}
.x:hover{
    z-index: 999;
}
.winapi_transparent{
    padding: 5px;
    background-color: rgba(61, 57, 117, 0.3);
    border: 1px solid rgba(255,255,255,0.5);
    backdrop-filter: blur(5px);
    outline: 1px solid black;
    background-image: url("./Resources/window_aura.png"), url("./Resources/window_aura_mirror.png"), url("./Resources/window_side.png");
    background-position: left -1px top -1px, right -1px top -1px, left 0 top 20%;
    background-size: auto, auto, 100% 30%;
    background-repeat: no-repeat, no-repeat;
}
.window{
    border-radius: 8px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 0;
    touch-action: none;
    resize: both;
    z-index: 4;
}
.maximised{
    border-radius: 0px;
    position: absolute;
    padding: 0px;
    border: none !important;
}
.topbar{
    display: flex;
    justify-content: space-between;
    height: 27px;
    margin-top: -1px;
    margin-left: 3px;
}
.topbar .buttons{
    display: flex;
    height: 20px;
    z-index: 5;
}
.topbar > .buttons > *{
    display: flex;
    justify-content: center;
    align-items: center;
}
.topbar > .buttons > * > img{
    margin-bottom: 2px;
}
.content{
    border-radius: 2px;
    background-color: white;
    min-height: 50px;
    min-width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid rgb(29, 55, 81);
    outline: 1px solid rgba(255,255,255,0.7);
    width: calc(100% - 3px) calc(100% - 3px);
    flex-grow: 1;
}
.maximised{
    top: 0px !important;
    left: 0px !important;
    width: 100% !important;
    height: calc(100% - 40px) !important;
    position: fixed;
    box-shadow: none !important;
}
.maximised .content{
    border-radius: 0px;
    border: none !important;
    outline: none !important;
}
.window:hover{
    cursor: default;
}
@keyframes close {
    0% {transform: perspective(400px) rotateX(0deg)}
    100% {transform: perspective(400px) rotateY(2deg) rotateX(2deg);opacity: 0;scale: 0.95;}
}
.closing{
    animation-name: close;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
    pointer-events: none;
}
footer{
    height: 40px;
    max-height: 40px;
    display: flex;
    justify-content: end;
    background-color: rgb(224, 224, 224);
    box-sizing: border-box;
    padding: 8px;
}
button{
    background-image: url("./Resources/button.png");
    height: 23px;
    border: none;
    background-color: transparent;
    background-size: 100% 100%;
    min-width: 75px;
}
.explorer{
    width: 100%;
    height: 100%;
}
.icons{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: calc(100% - 38px);
    align-content: flex-start;
}
.icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75px;
    text-align: center;
    color: white;
    padding: 3px;
    padding-bottom: 28px;
    height: fit-content;
    border: 1px solid transparent;
    outline: 1px solid transparent;
    border-radius: 3px;
    font-size: 12px;
    box-sizing: border-box;
    text-shadow: 1px 1px 4px rgba(0,0,0,0.7), 1px 1px 4px rgba(0,0,0,0.7), 1px 1px 4px rgba(0,0,0,0.7), 1px 1px 4px rgba(0,0,0,0.7), 1px 1px 4px rgba(0,0,0,0.7), 1px 1px 4px rgba(0,0,0,0.7), 1px 1px 4px rgba(0,0,0,0.7);
}
.icon img{
    height: 48px;
    width: 48px;
}
.icon:hover{
    background-color: rgba(230,230,255,0.5);
    border: 1px solid rgba(230,230,255,0.8);
    outline: 1px solid rgba(100,205,205,0.8);
}
.icon:active{
    background-color: rgba(200,230,255, 0.7);
}
bottomright{
    position: absolute; 
    bottom: 40px; 
    right: 0px; 
    text-align: right; 
    color: white;
    z-index: -1;
}
.taskbar{
    height: 38px;
    border-top: 1px solid rgba(255,255,255,0.5);
    outline: 1px solid black;
    z-index: 9999;
    background-color: rgba(255, 255, 255, 0.07);
    display: flex;
    position: fixed;
    bottom: 0px;
    width: 100%;
    backdrop-filter: blur(5px);
}
.taskbar-btn{
    object-fit: cover;
    object-position: 0 -8px;
    position: fixed;
    width: 54px;
    height: 40px;
    margin-top: -1px;
}
.taskbar-btn-orb{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 1px solid gray;
    margin-left: 8px;
    margin-top: -1px;
}
.taskbar-btn:hover{
    object-position: 0 -62px;
}
.taskbar-btn:active{
    object-position: 0 -116px;
}
.left-bar, .right-bar{
    height: 100%;
    display: flex;
}
.right-bar{
    margin-left: auto; 
    margin-right: 0;
}
.wrapper{
    width: 59px;
}
.window-tray{
    position: relative;
    bottom: 2px;
    width: 60px;
    height: 40px;
    border-radius: 3px;
    margin-right: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("./Resources/taskbar_btn.png");
}
.window-tray img{
    height: 30px;
    width: 30px;
}
.time{
    color: white;
    text-align: center;
    font-size: 12px;
    padding-top: 2px;
}
text{
    height: 100%;
}
iframe {
    height: 100%;
    width: 100%;
}
ignore{
    height: 100%;
    width: 100%;
    position: absolute;
    display: none;
}
.show-desktop{
    position: relative;
    bottom: 1px;
    width: 15px;
    height: 40px;
    margin-left: 11px;
    background-image: url("./Resources/hide_windows.png");
    background-size: 100% 100%; 
}
.show-desktop:hover{
    background-image: url("./Resources/hide_windows_hover.png");
}
.show-desktop:active{
    background-image: url("./Resources/hide_windows_pressed.png");
}
.start-menu{
    position: absolute;
    left: 0;
    bottom: 40px;
    width: 505px;
    height: max-content;
    display: none;
    border-top-right-radius: 10px;
    background-image: url("./Resources/start_menu.png");
    background-size: 100% 100%;
}
.left-start{
    background-color: white;
    border: 1px solid black;
    outline: 1px solid rgba(255,255,255,0.5);
    border-radius: 3px;
    width: 60%;
    padding: 3px;
}
.start-option{
    display: flex;
    align-items: center;
    font-size: 13px;
    border: 1px solid transparent;
    padding: 2px;
    border-radius: 3px;
}
.start-option:hover{
    background-color: rgba(0,255,255,0.3);
    border: 1px solid rgba(25, 0, 255, 0.5);
    background: linear-gradient(180deg, rgba(0,142,255,0.3) 0%, rgba(0,151,255,0.5) 100%);
}
.start-option img{
    width: 32px;
    height: 32px;
}
.time-2{
    width: 322px; 
    height: 280px;
    position: absolute;
    right: 0;
    bottom: 40px;
    border: 1px solid rgba(255,255,255,0.5);
    background-color: rgba(61, 57, 117, 0.3);
    margin: 8px;
    padding-top: 5px;
}
.time-container{
    background-color: white;
    border: 1px solid rgba(255,255,255,0.5);
    width: calc(100% - 2px);
    height: 100%;
    border: 1px solid rgb(29, 55, 81);
    outline: 1px solid rgba(255,255,255,0.7);
    border-radius: 1px;
}
.datetime{
    height: 50px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 102, 204);
}
.bottom-time{
    display: flex;
    justify-content: space-between;
    margin: 0 12px;
}
.calendar{
    width: 50%;
}
.winapi_shadow{
    box-shadow: 0px 0px 8px 5px rgba(0, 0, 0, 0.65);
}
left{
    display: flex;
    align-items: center;
    white-space: nowrap;
    text-shadow: 0 0 10px rgba(255,255,255), 
    0 0 10px rgb(255,255,255), 
    0 0 10px rgb(255,255,255), 
    0 0 10px rgb(255,255,255), 
    0 0 10px rgb(255,255,255);
}
left img{
    width: 15px !important;
    height: 15px !important;
    margin: 3px;
}
.context-menu{
    font-size: 12px;
    background-color: white;
    position: absolute;
    display: none;
    flex-direction: column;
    width: max-content;
    padding: 2px;
}
.context-menu-option{
    width: 100%;
}
.context-menu-option:hover{
    background-color: rgba(0,255,255,0.3);
    background: linear-gradient(180deg, rgba(0,142,255,0.3) 0%, rgba(0,151,255,0.5) 100%);
}