.leftpanel {
    background-color: rgb(34, 34, 34);
    height: 100vh;
    width: 303px;
    position: fixed;
    left: 0px;
    top: 0px;
}

@keyframes mainani {
    0%   { transform: translateX(20px); opacity: 0;}
    100% { transform: translateX(0px); opacity: 1;}
}

.ViewCollection {
    left:303px; top: 0;
    animation: mainani 0.5s ease forwards;
    position: fixed;
    width: calc(100vw - 303px);
    height: 100vh;
    opacity: 0;
    display: none;
}

.ViewCollection h1 {
    font-weight: 700; 
    font-size: 28px;
    padding-top: 55px;
    margin-left: 40px;
}

.ViewNowPlaying {
    left:303px; top: 0;
    animation: mainani 0.5s ease forwards;
    position: fixed;
    width: calc(100vw - 303px);
    height: 100vh;
    opacity: 0;
    display: none;
}

.ViewNowPlaying .nowplaying {
    height: 380px;
    width: 100%;
    background-color: rgb(12,12,12);
    color: white;
    position: relative;
}

.ViewNowPlaying .nowplaying p:nth-child(1) {
    font-size: 36px;
    font-weight: 700;
    position: absolute;
    left: 42px; bottom: 68px;
}

.ViewNowPlaying .nowplaying p:nth-child(2) {
    font-size: 20px;
    font-weight: 300;
    position: absolute;
    left: 42px; bottom: 40px;
}

#SearchMusicInput {
    background-color: rgb(58,58,58);
    margin: 23px 20px;
    color: white;
    width: 223px;
    padding: 20px 8px;
}

#SearchMusicButton {
    width: 40px;
    height: 40px;
    background-color: rgb(58,58,58);
    color: white;
    position: absolute;
    right: 20px; top: 109px;
    font-size: 24px;
    padding-left: 12px;
}

#SearchMusicButton:hover {
    background-color: rgb(41,156,16);
}

.SelectView {
    width: 303px;
    height: 100px;
}

.SelectView .item {
    height: 50px;
    width: 303px;
    padding: 8px 30px;
}

.SelectView .item:hover {
    background-color: rgb(58,58,58);
}

.SelectView .item:active {
    background-color: rgb(100,100,100);
}

.SelectView .item.active {
    background-color: rgb(0,119,0);
}

.SelectView .item p {
    font-size: 20px;
    font-weight: 300;
    color: white;
}

@font-face {
    font-family: 'segxmvr';
    src: url(segxmvr.woff);
}

.segxmvr {
    font-family: 'segxmvr';
    font-weight: 400;
}

.ViewNowPlaying table tr {
    height: 50px;
    transition: 0.2s;
}

.ViewNowPlaying table {
    margin: 10px;
    border-collapse: collapse;
}

.ViewNowPlaying table tr:nth-child(odd) {
    background: rgb(226,226,226);
}

.ViewNowPlaying table tr:nth-child(even) {
    background: none;
}

.ViewNowPlaying table tr td:nth-child(1) {
    width: 40px;
    color: gray;
    padding-left: 12px;
}

.ViewNowPlaying table tr td:nth-child(2) {
    width: 40px;
    color: rgb(0,119,0);
    display: none;
    padding-top: 14px;
    padding-left: 12px;
}

.ViewNowPlaying table tr td:nth-child(3) {
    width: calc((100vw - 323px) / 100 * 40 - 52px);
}

.ViewNowPlaying table tr td:nth-child(4) {
    width: calc((100vw - 323px) / 100 * 20);
}

.ViewNowPlaying table tr td:nth-child(5) {
    width: calc((100vw - 323px) / 100 * 20);
}

.ViewNowPlaying table tr td:nth-child(6) {
    width: calc((100vw - 323px) / 100 * 10);
}

.ViewNowPlaying table tr td:nth-child(7) {
    width: calc((100vw - 323px) / 100 * 10);
}

.ViewNowPlaying table tr.active td:nth-child(2) {display: block;}
.ViewNowPlaying table tr.active td:nth-child(1) {display: none;}
.ViewNowPlaying table tr.active {color: rgb(0,119,0);}

.ViewNowPlaying table tr:hover {
    background-color: rgb(194,194,194);
}

.ViewNowPlaying table tr:active {
    scale: 0.97;
}

.PlayerBottom {
    width: 100vw;
    height: 82px;
    background-color: rgb(16,16,16);
    position: fixed;
    left: 0;
    bottom: 0;
}

.SelectArtAlbTrk {
    height: 40px;
    position: absolute;
    left: 40px; top: 110px;
}

.SelectArtAlbTrk .Item {
    color: white;
    background-color: rgb(100, 100, 100);
    font-size: 16px;
    display: inline-block;
    padding: 8px 16px;
}

.SelectArtAlbTrk .Item.active {
    background-color: rgb(0,119,0);
}