/* Fonts, cursor, and disable scale */
html{
    font-family: 'segoeui', 'sans-serif', system-ui;
    touch-action: manipulation;
    cursor: default;
    color: black;
    font-size: 12px;
}
.topleft, .topright, .bottomleft, .bottomright, .top, .left, .right, .bottom{
    position: absolute;
}
.maximised .topleft, .maximised .topright, .maximised .bottomleft, .maximised .bottomright, .maximised .top, .maximised .left, .maximised .right, .maximised .bottom{
    display: none;
}
.topleft, .topright, .bottomleft, .bottomright{
    width: 7px;
    height: 7px;
    z-index: 1;
}
.top, .bottom{
    width: 100%;
    height: 7px;
    cursor: n-resize;
}
.left, .right{
    height: 100%;
    width: 7px;
    cursor: w-resize;
}
.left, .topleft, .bottomleft{
    left: 0;
}
.right, .topright, .bottomright{
    right: 0;
}
.topleft, .top, .topright{
    top: 0;
}
.bottomleft, .bottom, .bottomright{
    bottom: 0;
}
.topleft, .bottomright{
    cursor: nw-resize;
}
.topright, .bottomleft{
    cursor: ne-resize;
}
input[type="checkbox"]{
    display: none;
}
label{
    padding-left: 13px;
    height: 13px;
    display: inline-block;
    background-repeat: no-repeat;
}
html, body{
    height: 100%;
    width: 100%;
    margin: 0;
}
body{
    position: fixed;
}
.dash:hover, .square:hover{
    z-index: 999;
}
.x:hover{
    z-index: 999;
}
.window{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    touch-action: none;
    z-index: 4;
    margin-top: 0;
}
.maximised{
    width: 100% !important;
    height: calc(100% - var(--taskbar-height)) !important;
    position: fixed;
    box-shadow: none;
    border-radius: 0px !important;
    padding: 0px !important;
    border: none !important;
    left: 0 !important;
    top: 0 !important;
}
.snap-left{
    width: 50% !important;
    height: calc(100% - var(--taskbar-height)) !important;
    position: fixed;
    left: 0 !important;
    top: 0 !important;
    box-sizing: border-box;
}
.snap-right{
    width: 50% !important;
    height: calc(100% - var(--taskbar-height)) !important;
    position: fixed;
    left: 50% !important;
    top: 0 !important;
    box-sizing: border-box;
}
::selection{
    background-color: transparent;
}
.select{
    display: flex;
}
button, select{
    height: 23px;
    min-width: 75px;
    border: 0;
    background-position: left, right, 4px;
    background-repeat: no-repeat;
    background-size: auto 100%, auto 100%, calc(100% - 8px) 100%;
    background-color: transparent;
}
.menubar .element{
    height: 20px;
    box-sizing: border-box;
    background-position: left, right, 2px;
    background-repeat: no-repeat;
    background-size: auto 100%, auto 100%, calc(100% - 4px) 100%;
    background-color: transparent;
}
.start-option{
    background-position: left, right, 3px;
    background-repeat: no-repeat;
    background-size: 3px 100%, 3px 100%, calc(100% - 6px) 100%;
    background-color: transparent;
}
.start-option:hover{
    background-image: url("./Resources/selectionBig/hover/left.png"), url("./Resources/selectionBig/hover/right.png"), url("./Resources/selectionBig/hover/center.png");
}
select{
    appearance: none;
    padding-right: 20px;
}
.dock-br{
    position: absolute;
    right: 0;
    bottom: 40px;
    margin: 8px;
    padding-top: 5px;
}
table{
    border-collapse: collapse;
}
th{
    background-image: url(./Resources/table-top.png);
    background-size: 100% 100%;
    border-bottom: 1px solid rgb(200,200,200);
    border-right: 1px solid rgb(200,200,200);
    padding: 5px;
}
text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
input[type=text]{
    cursor: text;
}
input:focus{
    outline: none;
}
#windows{
    width: 100%;
    height: 100%;
}
.menubar {
    width: 100vw;
    height: 19px;
    background-image: url("./Resources/table-top.png");
    border-bottom: 1px solid rgb(232,232,232);
    font-size: 0;
}

.menubar .element {
    display: inline-block;
    font-size: 12px;
    border: 1px transparent solid;
    padding: 1px 7px;
}

.menubar .element:hover {
    background-image: url("./Resources/selectionSmall/hover/left.png"), url("./Resources/selectionSmall/hover/right.png"), url("./Resources/selectionSmall/hover/center.png");
}
.details{
    background-color: rgb(230,230,230);
    border-top: 1px solid rgb(100,100,100);
    border-right: 1px solid rgb(150,150,150);
    position: absolute;
    bottom: 0;
    width: 100vw;
}
.detail{
    width: fit-content;
}
button:disabled{
    opacity: 0.5;
}